@media (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  nav, ul {
    display: inline-flex;
  }

  header label {
    display: none;
  }
  
  .logo {
    max-width: 120px;
  }
 
  .productsnew, 
  .productsused {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
  }

  .product-spec {
    flex-direction: row;
    max-width: 1000px;
    margin-bottom: 330px;
  }

  .product-text {
    margin: 20px;
  }

  .categories {
    display: inline-flex;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .cta-big {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 7;
  }
  
  aside {
    padding: 20px;
  }
  
  .register {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }

  .form-wrap {
    flex-direction: row;
  }

  .contact-details {
    flex-direction: row;
  }

  .basket-flex {
    flex-direction: row;
  }

  .sellgamesmenu {
    display: inline-flex;
    justify-content: space-evenly;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

} 

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'header header header'
    'main main aside'
    'main main aside'
    'main main aside'
    'footer footer footer'
  }

  header{grid-area: header;}
  main{grid-area: main;}
  aside{grid-area: aside;}
  footer{grid-area: footer;}

  .logo {
    max-width: 200px;
  }
  
  .productsnew, 
  .productsused {
    width: 100%;
  }

  aside {
    grid-template-columns: 3;
    width: 100%;
    background-color: var(--white);
    padding: 0px;
    margin: 0px;
  }

}  

@media (min-width: 1700px) {
  .productsnew, 
  .productsused {
    max-width: 1000px;
  }

}  